@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

#kiwiLabel,#signInLabel,#loginButton {
    -fx-font-family: 'Chewy';
    -fx-font-weight: 400;
    -fx-font-size: 50px;
}

#loginButton{
    -fx-font-size: 30px;
}
#createAccount{
    -fx-font-weight: 400;
}

#usernameTextField, #passwordField {
    -fx-background-color: #22577E;
    -fx-border-width: 1px;
    -fx-border-color: #E6E6E6;
    -fx-border-style: solid;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

