@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

#kiwiLabel{
    -fx-font-family: 'Chewy';
    -fx-font-weight: 400;
    -fx-font-size: 48px;
}

#orderButton, #menuButton, #deliveryButton{
    -fx-font-size: 30px;
}



